@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #061f2c;
}

body::-webkit-scrollbar-thumb {
  background: #9ac7bc;
  border-radius: 1em;
}

body::-webkit-scrollbar-thumb:hover {
  background: #07fad1;
  border-radius: 1em;
}

body {
  background-color: #061f2c;
}

nav {
  overflow: hidden;
  background-color: #061f2c;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-top {
  margin-left: 2.5em;
  margin-right: 2em;
  color: #9ac7bc;
  display: flex;
  flex-direction: row;
  font-family: 'Courier New', Courier, monospace;
  justify-content: right;
}

section {
  margin-top: 12em;
  margin-left: 6em;
  margin-right: 6em;
  padding-bottom: 60vh;
  color: #9ac7bc;
  vertical-align: middle;
}

.section-heading {
  font-size: 3.5em;
  color: #deeed9;
}

p {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.intro {
  color: #07fad1;
}

.about {
  color: #9ac7bc;
}

.link-internal {
  margin: 2em;
}

.link-internal:hover {
  color: #07fad1;
  text-decoration: underline;
  font-weight: bold;
}

.link-external {
  color: #07fad1;
  text-decoration: underline;
}

.icon-github {
  width: 98px;
  height: 96px;
  scale: 0.5;
}

.icon-email {
  width: 24px;
  height: 26px;
  scale: 2;
}

.navbar-side {
  /* margin-left: 2em; */
  height: 100%;
  color: #9ac7bc;
  display: flex;
  
}

.icon {
  color: #9ac7bc;
  margin: 1em;
}

button {
  width: 25px;
  height: 25px;
  background-color: #9ac7bc;
  border: 2px solid #9ac7bc;
  border-radius: 50%;
}

footer {
  overflow: hidden;
  background-color: #061f2c;
  position: fixed;
  padding: 1em;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: #69857e;
  font-family: 'Courier New', Courier, monospace;
  font-size: small
}

@media only screen and (max-width: 500) {
  section {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 60vh;
    color: #9ac7bc;
    vertical-align: middle;
  }
}